<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Home</title>
  <link rel="stylesheet" th:href="@{/css/home.css}" href="../static/css/home.css" type="text/css">
</head>
<body>
<header>
  <div class="container">
    <h1>User Home</h1>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>


<section class="avatar-section">
  <div class="container">
    <h2>Avatar</h2>
    <img src="https://randomuser.me/api/portraits/men/1.jpg" alt="Random Avatar Image">
  </div>
</section>


<section class="personal-info">
  <div class="container">
    <h2>Personal Information</h2>
    <p>First Name: <span th:text="${user.firstName}"></span></p>
    <p>Last Name: <span th:text="${user.lastName}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>
  </div>
</section>

<div class="container">
  <h1>New Appointment</h1>
  <form class="form-container" th:action="@{|/appointments/new?access_token=${token}|}" th:object="${appointment}" method="post">
    <label class="form-label" for="doctor">Doctor:</label>
    <select class="form-select" id="doctor" name="doctor.id">
      <option th:each="doctor : ${doctors}" th:value="${doctor.id}" th:text="${doctor.firstName}"></option>
    </select><br>
    <label class="form-label" for="dateTime">Date and Time:</label>
    <input class="form-input" id="dateTime" type="datetime-local" name="dateTime"><br>
    <input class="form-submit" type="submit" value="Submit">
  </form>
</div>

<footer>
  <div class="container">
    <div class="footer-links">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="footer-info">
      <p>&copy; 2023 Your Website. All rights reserved.</p>
    </div>
  </div>
</footer>
</body>
</html>
