<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css">
</head>
<body>
<header>
  <div class="container">
    <h1>e-Healthcare</h1>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#" style="background-color: #F2F2F2; color: #418520; border-radius: 10px;">Log in</a></li>
        <li><a href="#" style="background-color: #F2F2F2; color: #418520; border-radius: 10px;" >Sign up</a></li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <div class="login-form">
    <h2>Welcome Back!</h2>
    <p>Please enter your login information below.</p>

    <form th:action="@{/login}" method="post">
      <label for="username">Email:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit" class="cta-button" >Login</button>
    </form>
  </div>
</main>
</body>
</html>