<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css">
</head>
<body>

<div th:replace="fragments/header.html :: header"></div>

<main>
  <div class="login-form">
    <h2>Welcome Back!</h2>
    <p>Please enter your login information below.</p>
    <div class="error-message" th:if="${param.error}">
      Invalid username and password.</div>
    <div class="error-message" th:if="${param.logout}">
      You have been logged out.</div>

    <form action="#" th:action="@{/login/authenticate}" th:object="${authenticationRequest}" method="post" >
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" th:field="*{email}" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" th:field="*{password}" required>

      <button type="submit" class="cta-button" >Login</button>
    </form>
  </div>
</main>
<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>